@font-face {
    font-family: RobotoRegular;
    src: url(../fonts/RobotoRegular.eot);
    src: local('☺'), url('../fonts/RobotoRegular.woff') format('woff'), url('../fonts/RobotoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins-Regular.ttf);
}

$color: #FFC636;
body {
    font-family: Poppins-Regular;
}

.butt-orange {
    flex-shrink: 0;
    display: block;
    margin: 0 auto;
    max-width: 235px;
    width: 100%;
    padding: 8px;
    text-align: center;
    border: none;
    background: $color;
    color: #fff;
    font-size: 18px;
    outline: none;
    transition: 0.3s;
    border: 1px solid transparent;
    color: #000;
    &:hover {
        color: #fff;
    }
}

.content {
    height: 100vh;
    min-height: 675px;
    position: relative;
    background-image: url(../img/bg-build.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    &.all-pages {
        height: auto;
        background: none;
        &:before {
            display: none;
        }
        .head {
            background: #212122;
        }
    }
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
    }
    .head {
        position: relative;
        z-index: 5;
        .flex-nav-wr {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .left-side {
                width: 500px;
                .open-profile {
                    width: 29px;
                    height: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background: transparent;
                    border: none;
                    outline: none;
                    span {
                        display: block;
                        height: 2px;
                        width: 29px;
                        background: #FFC636;
                    }
                }
            }
            .for-center {
                .width-logo {
                    width: 55px;
                    margin: 0 auto;
                }
            }
            .right-side {
                width: 500px;
                ul {
                    list-style: none;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    margin: 0;
                    li {
                        &.for-drop-down {
                            padding: 21px 40px 21px 20px;
                        }
                        .sub-menu {
                            display: block;
                            padding: 0;
                            margin: 0;
                            width: 150px;
                            opacity: 0;
                            top: 100%;
                            right: 0;
                            visibility: hidden;
                            position: absolute;
                            background-color: #212122;
                            -webkit-transform: scaleY(0) translateZ(0);
                            transform: scaleY(0) translateZ(0);
                            -webkit-transition: all 0.2s ease;
                            -o-transition: all 0.2s ease;
                            transition: all 0.2s ease;
                            -webkit-transform-origin: 50% 0;
                            -ms-transform-origin: 50% 0;
                            transform-origin: 50% 0;
                            li {
                                padding-top: 10px;
                                display: block;
                                position: relative;
                                a,
                                span {
                                    color: #b3b3b5;
                                    font-size: 13px;
                                    padding: 5px 15px;
                                    transition: 0.3s;
                                    text-transform: inherit;
                                    &:hover {
                                        color: $color;
                                    }
                                }
                                &:last-child{
                                    padding-bottom: 10px;        
                                }
                            }
                        }
                        &:hover {
                            .sub-menu {
                                opacity: 1;
                                visibility: visible;
                                -webkit-transform: scaleY(1) translateZ(0);
                                transform: scaleY(1) translateZ(0);
                            }
                        }
                    }
                    a {
                        color: #fff;
                        font-size: 18px;
                        display: block;
                        padding: 10px 20px;
                        text-transform: uppercase;
                        transition: 0.3s;
                        &:hover {
                            color: $color;
                        }
                        &.active {
                            color: $color;
                        }
                    }
                }
            }
        }
        .for-b {
            border-bottom: 1px solid rgba(255, 255, 255, .3);
        }
    }
    .build-content {
        position: relative;
        z-index: 5;
        margin: auto;
        h1 {
            font-size: 50px;
            text-align: center;
            color: #fff;
            margin-bottom: 35px;
            font-weight: normal;
        }
        h2 {
            font-size: 30px;
            text-align: center;
            color: #fff;
            margin-bottom: 30px;
            font-weight: normal;
        }
        form {
            padding: 35px 60px 30px 60px;
            background: rgba(0, 0, 0, 0.2);
            &.form-login{
                 padding: 35px 30px 30px 30px;
                max-width: 445px;
                margin: 0 auto;
            }
            .flex-iputs {
                display: flex;
                align-items: flex-end;
                margin-bottom: 35px;
                &.inp-login{
                    display: block;
                    .side{
                        padding: 0;
                        width: 100%;
                        input{
                            margin-bottom: 20px;
                        }
                    }
                    .butt-orange{
                       margin-bottom: 20px;
                    }
                    .for-padd {
                         margin: 0 auto;
                    }
                }
                .for-padd {
                    flex-shrink: 0;
                    max-width: 235px;
                    width: 100%;
                }
                .side {
                    width: 50%;
                    padding-right: 15px;
                    p {
                        color: #fff;
                        font-size: 18px;
                        margin-bottom: 15px;
                    }
                    input {
                        border: 1px solid rgba(255, 255, 255, .3);
                        background: transparent;
                        outline: none;
                        display: block;
                        width: 100%;
                        color: #fff;
                        padding: 10px;
                        padding-right: 40px;
                        background-image: url(../img/mark.svg);
                        background-repeat: no-repeat;
                        background-size: 20px;
                        background-position: right 10px center;
                        &:focus {
                            border-color: $color;
                        }
                    }
                }
            }
            .settings {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin-bottom: 30px;
                img {
                    width: 32px;
                    margin-right: 10px;
                }
                p {
                    color: #fff;
                    font-size: 18px;
                    transition: 0.3s;
                }
                &:hover {
                    p {
                        color: $color;
                    }
                }
            }
        }
    }
    .check-boxes-wr {
        background-color: rgba(255, 255, 255, .2);
        position: relative;
        z-index: 5;
        .for-relative {
            position: relative;
        }
        .arr {
            position: absolute;
            font-size: 18px;
            max-width: 120px;
            left: 0;
            top: -75px;
            color: #fff;
            img {
                position: absolute;
                right: calc(100% + 5px);
                top: 50%;
            }
        }
        .for-flex-check {
            display: flex;
            margin: 0;
            list-style: none;
            li {
                width: 16.66%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-right: 1px solid rgba(255, 255, 255, .2);
                padding: 22px 20px;
                transition: 0.3s;
                cursor: pointer;
                &:hover {
                    background: rgba(255, 255, 255, .15);
                }
                &:last-child {
                    border: none;
                }
                .image {
                    flex-shrink: 0;
                }
                span {
                    display: block;
                    margin-left: 10px;
                    color: #fff;
                }
            }
        }
    }
}

.best-wr {
    .left-side {
        width: 45%;
        padding: 30px;
        .all-best-blocks {
            display: flex;
            flex-wrap: wrap;
            .one-block {
                padding: 10px;
                width: 50%;
                margin-bottom: 20px;
                .for-before-wr {
                    position: relative;
                    width: 100%;
                    overflow: hidden;
                    &:before {
                        content: '';
                        display: block;
                        padding-top: 63%;
                        position: relative;
                    }
                    .img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background: center no-repeat;
                        background-size: cover;
                    }
                }
                .ava {
                    width: 35px;
                    height: 35px;
                    border: 3px solid #fff;
                    position: relative;
                    background-size: cover;
                    background-position: center;
                    margin-top: -20px;
                    border-radius: 50%;
                    margin-left: 10px;
                }
                p {
                    margin-bottom: 10px;
                    &.name {
                        font-size: 24px;
                        font-weight: bold;
                    }
                    &.desc {
                        font-size: 13px;
                        strong {
                            padding-right: 10px;
                        }
                    }
                }
                .button-wr {
                    display: flex;
                    align-items: center;
                    padding-top: 20px;
                    .one {
                        width: 100%;
                        padding: 0 5px;
                        &:first-child {
                            padding-left: 0;
                        }
                        &:last-child {
                            padding-right: 0;
                        }
                        .bg {
                            cursor: pointer;
                            transition: 0.3s;
                            height: 47px;
                            background-color: #f1f3f6;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            &:hover {
                                background: #212122;
                                span {
                                    color: $color;
                                }
                            }
                            img {
                                width: 30px;
                            }
                            span {
                                padding-left: 10px;
                                transition: 0.3s;
                            }
                        }
                    }
                }
            }
        }
    }
    .fixed-map {
        width: 55%;
        border: 1px solid red;
        position: fixed;
        height: 100%;
        left: 45%;
        top: 0;
        .fixed-sights{
            position: relative;
            z-index: 5000;
            top: 70px;
            padding: 10px 20px;
            transition: 1s;
            &.transformed{
                transform: translateY(-70px);
                
            }
            .flex-sights{
               
                background: rgba(255,255,255,0.7);
                .one-sight{
                    outline: none;
                    padding: 5px;
                    margin-bottom: 5px;
                    cursor: pointer;
                    &:hover{
                        p{
                            color: $color;
                            
                        }
                    }
                    .for-before-wr{
                        position: relative;
                        width: 100%;
                        overflow: hidden;
                       
                        &:before {
                            content: '';
                            display: block;
                            padding-top: 63%;
                            position: relative;
                        }
                        .img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: center no-repeat;
                            background-size: cover;
                        }
                    }
                    p{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 12px;
                        text-align: center;
                        line-height: 12px;
                        padding: 5px;
                        background: #fff;
                        transition: 0.3s;
                        span{
                            color: #000!important;
                            flex-shrink: 0;
                            padding-top: 2px;
                            display: block;
                            width: 20px;
                            height: 20px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: $color;
                            border-radius: 50%;
                            margin-right: 4px;
                        }
                    }
                }
                .slick-arrow{
                    display: block;
                    position: absolute;
                    top: 37%;
                    font-size: 0;
                    background-color: transparent;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    border: none;
                    width: 20px;
                    height: 40px;
                    transform: translateY(-50%);
                    outline: none;
                    &.slick-disabled{
                        opacity: 0.7;
                    }
                &.slick-prev{
                    background-image: url(../img/arr-prev.svg);
                    left: -20px;
                }
                &.slick-next{
                    background-image: url(../img/arr-next.svg);
                    right: -20px;
                }
            }
            }
        }
    }
}
.modal {
    background: rgba(255,255,255,0.8);
}
.sights-slider{
    .modal-body{
        padding: 0;
    }
    .modal-dialog{
         max-width: 975px;

        margin: 50px auto;
        .slider-init{
            .slide{
                outline: none;
                padding: 10px;
                .after-slide{
                     background: #fff;
                    .for-before-wr{
                        position: relative;
                        width: 100%;
                        overflow: hidden;
                        &:before {
                            content: '';
                            display: block;
                            padding-top: 42%;
                            position: relative;
                        }
                        .img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: center no-repeat;
                            background-size: cover;
                        }
                    }
                    .content-sights{
                        padding: 15px;
                        .name{
                            font-size: 24px;
                            margin-bottom: 24px;
                        }
                        
                    }
                    .for-flex-buttons{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .find-more{
                            color: $color;
                            cursor: pointer;
                            p{
                                margin: 0;
                            }
                        }
                        .one{
                            width: 100px;
                            .bg {
                                cursor: pointer;
                                transition: 0.3s;
                                height: 47px;
                                background-color: #f1f3f6;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                &:hover {
                                    background: #212122;
                                    span {
                                        color: $color;
                                    }
                                }
                                img {
                                    width: 30px;
                                }
                                span {
                                    padding-left: 10px;
                                    transition: 0.3s;
                                }
                            }
                        }
                    }
                    
                    
                }
            }
            .slick-arrow{
                display: block;
                position: absolute;
                top: 50%;
                font-size: 0;
                background-color: transparent;
                background-position: center;
                background-size: cover;
                border: none;
                width: 30px;
                height: 40px;
                transform: translateY(-50%);
                outline: none;
                 &.slick-disabled{
                        opacity: 0.7;
                    }
                &.slick-prev{
                    background-image: url(../img/arr-prev.svg);
                    left: -50px;
                }
                &.slick-next{
                    background-image: url(../img/arr-next.svg);
                    right: -50px;
                }
            }
        }
    }
}
.padd-my-tabs{
    padding: 0 10px;
}
.my-tabs{
    display: flex;
    margin-bottom: 30px;
    .my-tab{
        cursor: pointer;
        
        width: 50%;
        padding: 7px;
        text-align: center;
        border: 1px solid $color;
        transition: 0.3s;
        &.active{
            background: $color;
            color: #fff;
        }
        &:last-child{
            border-left: none;
        }
    }
}
.login-modal{
    .modal-body{
        padding: 0;
    }
    .modal-dialog{
        max-width: 370px;
        margin: 60px auto;
        -webkit-box-shadow: 0px 0px 46px -5px rgba(0,0,0,0.55);
-moz-box-shadow: 0px 0px 46px -5px rgba(0,0,0,0.55);
box-shadow: 0px 0px 46px -5px rgba(0,0,0,0.55);
        .sign{
            padding: 0 20px 20px 20px;
            background: #fff;
            img{
                max-width: 200px;
                margin: 0 auto;
            }
            h2{
                text-align: center;
                color: $color;
                margin-bottom: 20px;
            }
            .name-inp{
                margin-bottom: 3px;
                 text-align: center;
                &.sign-up-with{
                   
                    margin-bottom: 10px;
                }
            }
            input{
                max-width: 250px;
                margin: 0 auto 20px auto;
                display: block;
                outline: none;
                text-align: center;
                padding: 5px;
                width: 100%;
                    padding: 12px 0;
                border-radius: 50px;
                    border: 1px solid rgba(0,0,0,.12);
            }
            .butt-orange{
                max-width: 100%;
         
                border-radius: 50px;
                padding: 10px 0;
                max-width: 250px;
                margin: 30px auto 30px auto;
            }
            .sign-up-w-wrapp{
                display: flex;
                justify-content: space-around;
                
            }
        }
    }
}