@charset "UTF-8";
@font-face {
  font-family: RobotoRegular;
  src: url(../fonts/RobotoRegular.eot);
  src: local("☺"), url("../fonts/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Poppins-Regular;
  src: url(../fonts/Poppins-Regular.ttf); }
body {
  font-family: Poppins-Regular; }

.butt-orange {
  flex-shrink: 0;
  display: block;
  margin: 0 auto;
  max-width: 235px;
  width: 100%;
  padding: 8px;
  text-align: center;
  border: none;
  background: #FFC636;
  color: #fff;
  font-size: 18px;
  outline: none;
  transition: 0.3s;
  border: 1px solid transparent;
  color: #000; }
  .butt-orange:hover {
    color: #fff; }

.content {
  height: 100vh;
  min-height: 675px;
  position: relative;
  background-image: url(../img/bg-build.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column; }
  .content.all-pages {
    height: auto;
    background: none; }
    .content.all-pages:before {
      display: none; }
    .content.all-pages .head {
      background: #212122; }
  .content:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); }
  .content .head {
    position: relative;
    z-index: 5; }
    .content .head .flex-nav-wr {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .content .head .flex-nav-wr .left-side {
        width: 500px; }
        .content .head .flex-nav-wr .left-side .open-profile {
          width: 29px;
          height: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background: transparent;
          border: none;
          outline: none; }
          .content .head .flex-nav-wr .left-side .open-profile span {
            display: block;
            height: 2px;
            width: 29px;
            background: #FFC636; }
      .content .head .flex-nav-wr .for-center .width-logo {
        width: 55px;
        margin: 0 auto; }
      .content .head .flex-nav-wr .right-side {
        width: 500px; }
        .content .head .flex-nav-wr .right-side ul {
          list-style: none;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          margin: 0; }
          .content .head .flex-nav-wr .right-side ul li.for-drop-down {
            padding: 21px 40px 21px 20px; }
          .content .head .flex-nav-wr .right-side ul li .sub-menu {
            display: block;
            padding: 0;
            margin: 0;
            width: 150px;
            opacity: 0;
            top: 100%;
            right: 0;
            visibility: hidden;
            position: absolute;
            background-color: #212122;
            -webkit-transform: scaleY(0) translateZ(0);
            transform: scaleY(0) translateZ(0);
            -webkit-transition: all 0.2s ease;
            -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
            -webkit-transform-origin: 50% 0;
            -ms-transform-origin: 50% 0;
            transform-origin: 50% 0; }
            .content .head .flex-nav-wr .right-side ul li .sub-menu li {
              padding-top: 10px;
              display: block;
              position: relative; }
              .content .head .flex-nav-wr .right-side ul li .sub-menu li a,
              .content .head .flex-nav-wr .right-side ul li .sub-menu li span {
                color: #b3b3b5;
                font-size: 13px;
                padding: 5px 15px;
                transition: 0.3s;
                text-transform: inherit; }
                .content .head .flex-nav-wr .right-side ul li .sub-menu li a:hover,
                .content .head .flex-nav-wr .right-side ul li .sub-menu li span:hover {
                  color: #FFC636; }
              .content .head .flex-nav-wr .right-side ul li .sub-menu li:last-child {
                padding-bottom: 10px; }
          .content .head .flex-nav-wr .right-side ul li:hover .sub-menu {
            opacity: 1;
            visibility: visible;
            -webkit-transform: scaleY(1) translateZ(0);
            transform: scaleY(1) translateZ(0); }
          .content .head .flex-nav-wr .right-side ul a {
            color: #fff;
            font-size: 18px;
            display: block;
            padding: 10px 20px;
            text-transform: uppercase;
            transition: 0.3s; }
            .content .head .flex-nav-wr .right-side ul a:hover {
              color: #FFC636; }
            .content .head .flex-nav-wr .right-side ul a.active {
              color: #FFC636; }
    .content .head .for-b {
      border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
  .content .build-content {
    position: relative;
    z-index: 5;
    margin: auto; }
    .content .build-content h1 {
      font-size: 50px;
      text-align: center;
      color: #fff;
      margin-bottom: 35px;
      font-weight: normal; }
    .content .build-content h2 {
      font-size: 30px;
      text-align: center;
      color: #fff;
      margin-bottom: 30px;
      font-weight: normal; }
    .content .build-content form {
      padding: 35px 60px 30px 60px;
      background: rgba(0, 0, 0, 0.2); }
      .content .build-content form.form-login {
        padding: 35px 30px 30px 30px;
        max-width: 445px;
        margin: 0 auto; }
      .content .build-content form .flex-iputs {
        display: flex;
        align-items: flex-end;
        margin-bottom: 35px; }
        .content .build-content form .flex-iputs.inp-login {
          display: block; }
          .content .build-content form .flex-iputs.inp-login .side {
            padding: 0;
            width: 100%; }
            .content .build-content form .flex-iputs.inp-login .side input {
              margin-bottom: 20px; }
          .content .build-content form .flex-iputs.inp-login .butt-orange {
            margin-bottom: 20px; }
          .content .build-content form .flex-iputs.inp-login .for-padd {
            margin: 0 auto; }
        .content .build-content form .flex-iputs .for-padd {
          flex-shrink: 0;
          max-width: 235px;
          width: 100%; }
        .content .build-content form .flex-iputs .side {
          width: 50%;
          padding-right: 15px; }
          .content .build-content form .flex-iputs .side p {
            color: #fff;
            font-size: 18px;
            margin-bottom: 15px; }
          .content .build-content form .flex-iputs .side input {
            border: 1px solid rgba(255, 255, 255, 0.3);
            background: transparent;
            outline: none;
            display: block;
            width: 100%;
            color: #fff;
            padding: 10px;
            padding-right: 40px;
            background-image: url(../img/mark.svg);
            background-repeat: no-repeat;
            background-size: 20px;
            background-position: right 10px center; }
            .content .build-content form .flex-iputs .side input:focus {
              border-color: #FFC636; }
      .content .build-content form .settings {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-bottom: 30px; }
        .content .build-content form .settings img {
          width: 32px;
          margin-right: 10px; }
        .content .build-content form .settings p {
          color: #fff;
          font-size: 18px;
          transition: 0.3s; }
        .content .build-content form .settings:hover p {
          color: #FFC636; }
  .content .check-boxes-wr {
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    z-index: 5; }
    .content .check-boxes-wr .for-relative {
      position: relative; }
    .content .check-boxes-wr .arr {
      position: absolute;
      font-size: 18px;
      max-width: 120px;
      left: 0;
      top: -75px;
      color: #fff; }
      .content .check-boxes-wr .arr img {
        position: absolute;
        right: calc(100% + 5px);
        top: 50%; }
    .content .check-boxes-wr .for-flex-check {
      display: flex;
      margin: 0;
      list-style: none; }
      .content .check-boxes-wr .for-flex-check li {
        width: 16.66%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        padding: 22px 20px;
        transition: 0.3s;
        cursor: pointer; }
        .content .check-boxes-wr .for-flex-check li:hover {
          background: rgba(255, 255, 255, 0.15); }
        .content .check-boxes-wr .for-flex-check li:last-child {
          border: none; }
        .content .check-boxes-wr .for-flex-check li .image {
          flex-shrink: 0; }
        .content .check-boxes-wr .for-flex-check li span {
          display: block;
          margin-left: 10px;
          color: #fff; }

.best-wr .left-side {
  width: 45%;
  padding: 30px; }
  .best-wr .left-side .all-best-blocks {
    display: flex;
    flex-wrap: wrap; }
    .best-wr .left-side .all-best-blocks .one-block {
      padding: 10px;
      width: 50%;
      margin-bottom: 20px; }
      .best-wr .left-side .all-best-blocks .one-block .for-before-wr {
        position: relative;
        width: 100%;
        overflow: hidden; }
        .best-wr .left-side .all-best-blocks .one-block .for-before-wr:before {
          content: '';
          display: block;
          padding-top: 63%;
          position: relative; }
        .best-wr .left-side .all-best-blocks .one-block .for-before-wr .img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: center no-repeat;
          background-size: cover; }
      .best-wr .left-side .all-best-blocks .one-block .ava {
        width: 35px;
        height: 35px;
        border: 3px solid #fff;
        position: relative;
        background-size: cover;
        background-position: center;
        margin-top: -20px;
        border-radius: 50%;
        margin-left: 10px; }
      .best-wr .left-side .all-best-blocks .one-block p {
        margin-bottom: 10px; }
        .best-wr .left-side .all-best-blocks .one-block p.name {
          font-size: 24px;
          font-weight: bold; }
        .best-wr .left-side .all-best-blocks .one-block p.desc {
          font-size: 13px; }
          .best-wr .left-side .all-best-blocks .one-block p.desc strong {
            padding-right: 10px; }
      .best-wr .left-side .all-best-blocks .one-block .button-wr {
        display: flex;
        align-items: center;
        padding-top: 20px; }
        .best-wr .left-side .all-best-blocks .one-block .button-wr .one {
          width: 100%;
          padding: 0 5px; }
          .best-wr .left-side .all-best-blocks .one-block .button-wr .one:first-child {
            padding-left: 0; }
          .best-wr .left-side .all-best-blocks .one-block .button-wr .one:last-child {
            padding-right: 0; }
          .best-wr .left-side .all-best-blocks .one-block .button-wr .one .bg {
            cursor: pointer;
            transition: 0.3s;
            height: 47px;
            background-color: #f1f3f6;
            display: flex;
            align-items: center;
            justify-content: center; }
            .best-wr .left-side .all-best-blocks .one-block .button-wr .one .bg:hover {
              background: #212122; }
              .best-wr .left-side .all-best-blocks .one-block .button-wr .one .bg:hover span {
                color: #FFC636; }
            .best-wr .left-side .all-best-blocks .one-block .button-wr .one .bg img {
              width: 30px; }
            .best-wr .left-side .all-best-blocks .one-block .button-wr .one .bg span {
              padding-left: 10px;
              transition: 0.3s; }
.best-wr .fixed-map {
  width: 55%;
  border: 1px solid red;
  position: fixed;
  height: 100%;
  left: 45%;
  top: 0; }
  .best-wr .fixed-map .fixed-sights {
    position: relative;
    z-index: 5000;
    top: 70px;
    padding: 10px 20px;
    transition: 1s; }
    .best-wr .fixed-map .fixed-sights.transformed {
      transform: translateY(-70px); }
    .best-wr .fixed-map .fixed-sights .flex-sights {
      background: rgba(255, 255, 255, 0.7); }
      .best-wr .fixed-map .fixed-sights .flex-sights .one-sight {
        outline: none;
        padding: 5px;
        margin-bottom: 5px;
        cursor: pointer; }
        .best-wr .fixed-map .fixed-sights .flex-sights .one-sight:hover p {
          color: #FFC636; }
        .best-wr .fixed-map .fixed-sights .flex-sights .one-sight .for-before-wr {
          position: relative;
          width: 100%;
          overflow: hidden; }
          .best-wr .fixed-map .fixed-sights .flex-sights .one-sight .for-before-wr:before {
            content: '';
            display: block;
            padding-top: 63%;
            position: relative; }
          .best-wr .fixed-map .fixed-sights .flex-sights .one-sight .for-before-wr .img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: center no-repeat;
            background-size: cover; }
        .best-wr .fixed-map .fixed-sights .flex-sights .one-sight p {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          text-align: center;
          line-height: 12px;
          padding: 5px;
          background: #fff;
          transition: 0.3s; }
          .best-wr .fixed-map .fixed-sights .flex-sights .one-sight p span {
            color: #000 !important;
            flex-shrink: 0;
            padding-top: 2px;
            display: block;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #FFC636;
            border-radius: 50%;
            margin-right: 4px; }
      .best-wr .fixed-map .fixed-sights .flex-sights .slick-arrow {
        display: block;
        position: absolute;
        top: 37%;
        font-size: 0;
        background-color: transparent;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        border: none;
        width: 20px;
        height: 40px;
        transform: translateY(-50%);
        outline: none; }
        .best-wr .fixed-map .fixed-sights .flex-sights .slick-arrow.slick-disabled {
          opacity: 0.7; }
        .best-wr .fixed-map .fixed-sights .flex-sights .slick-arrow.slick-prev {
          background-image: url(../img/arr-prev.svg);
          left: -20px; }
        .best-wr .fixed-map .fixed-sights .flex-sights .slick-arrow.slick-next {
          background-image: url(../img/arr-next.svg);
          right: -20px; }

.modal {
  background: rgba(255, 255, 255, 0.8); }

.sights-slider .modal-body {
  padding: 0; }
.sights-slider .modal-dialog {
  max-width: 975px;
  margin: 50px auto; }
  .sights-slider .modal-dialog .slider-init .slide {
    outline: none;
    padding: 10px; }
    .sights-slider .modal-dialog .slider-init .slide .after-slide {
      background: #fff; }
      .sights-slider .modal-dialog .slider-init .slide .after-slide .for-before-wr {
        position: relative;
        width: 100%;
        overflow: hidden; }
        .sights-slider .modal-dialog .slider-init .slide .after-slide .for-before-wr:before {
          content: '';
          display: block;
          padding-top: 42%;
          position: relative; }
        .sights-slider .modal-dialog .slider-init .slide .after-slide .for-before-wr .img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: center no-repeat;
          background-size: cover; }
      .sights-slider .modal-dialog .slider-init .slide .after-slide .content-sights {
        padding: 15px; }
        .sights-slider .modal-dialog .slider-init .slide .after-slide .content-sights .name {
          font-size: 24px;
          margin-bottom: 24px; }
      .sights-slider .modal-dialog .slider-init .slide .after-slide .for-flex-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .sights-slider .modal-dialog .slider-init .slide .after-slide .for-flex-buttons .find-more {
          color: #FFC636;
          cursor: pointer; }
          .sights-slider .modal-dialog .slider-init .slide .after-slide .for-flex-buttons .find-more p {
            margin: 0; }
        .sights-slider .modal-dialog .slider-init .slide .after-slide .for-flex-buttons .one {
          width: 100px; }
          .sights-slider .modal-dialog .slider-init .slide .after-slide .for-flex-buttons .one .bg {
            cursor: pointer;
            transition: 0.3s;
            height: 47px;
            background-color: #f1f3f6;
            display: flex;
            align-items: center;
            justify-content: center; }
            .sights-slider .modal-dialog .slider-init .slide .after-slide .for-flex-buttons .one .bg:hover {
              background: #212122; }
              .sights-slider .modal-dialog .slider-init .slide .after-slide .for-flex-buttons .one .bg:hover span {
                color: #FFC636; }
            .sights-slider .modal-dialog .slider-init .slide .after-slide .for-flex-buttons .one .bg img {
              width: 30px; }
            .sights-slider .modal-dialog .slider-init .slide .after-slide .for-flex-buttons .one .bg span {
              padding-left: 10px;
              transition: 0.3s; }
  .sights-slider .modal-dialog .slider-init .slick-arrow {
    display: block;
    position: absolute;
    top: 50%;
    font-size: 0;
    background-color: transparent;
    background-position: center;
    background-size: cover;
    border: none;
    width: 30px;
    height: 40px;
    transform: translateY(-50%);
    outline: none; }
    .sights-slider .modal-dialog .slider-init .slick-arrow.slick-disabled {
      opacity: 0.7; }
    .sights-slider .modal-dialog .slider-init .slick-arrow.slick-prev {
      background-image: url(../img/arr-prev.svg);
      left: -50px; }
    .sights-slider .modal-dialog .slider-init .slick-arrow.slick-next {
      background-image: url(../img/arr-next.svg);
      right: -50px; }

.padd-my-tabs {
  padding: 0 10px; }

.my-tabs {
  display: flex;
  margin-bottom: 30px; }
  .my-tabs .my-tab {
    cursor: pointer;
    width: 50%;
    padding: 7px;
    text-align: center;
    border: 1px solid #FFC636;
    transition: 0.3s; }
    .my-tabs .my-tab.active {
      background: #FFC636;
      color: #fff; }
    .my-tabs .my-tab:last-child {
      border-left: none; }

.login-modal .modal-body {
  padding: 0; }
.login-modal .modal-dialog {
  max-width: 370px;
  margin: 60px auto;
  -webkit-box-shadow: 0px 0px 46px -5px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 0px 46px -5px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 46px -5px rgba(0, 0, 0, 0.55); }
  .login-modal .modal-dialog .sign {
    padding: 0 20px 20px 20px;
    background: #fff; }
    .login-modal .modal-dialog .sign img {
      max-width: 200px;
      margin: 0 auto; }
    .login-modal .modal-dialog .sign h2 {
      text-align: center;
      color: #FFC636;
      margin-bottom: 20px; }
    .login-modal .modal-dialog .sign .name-inp {
      margin-bottom: 3px;
      text-align: center; }
      .login-modal .modal-dialog .sign .name-inp.sign-up-with {
        margin-bottom: 10px; }
    .login-modal .modal-dialog .sign input {
      max-width: 250px;
      margin: 0 auto 20px auto;
      display: block;
      outline: none;
      text-align: center;
      padding: 5px;
      width: 100%;
      padding: 12px 0;
      border-radius: 50px;
      border: 1px solid rgba(0, 0, 0, 0.12); }
    .login-modal .modal-dialog .sign .butt-orange {
      max-width: 100%;
      border-radius: 50px;
      padding: 10px 0;
      max-width: 250px;
      margin: 30px auto 30px auto; }
    .login-modal .modal-dialog .sign .sign-up-w-wrapp {
      display: flex;
      justify-content: space-around; }

/*# sourceMappingURL=style.css.map */
